<!-- <p>App Component Works</p> -->
<!-- <app-childtoparent></app-childtoparent> -->

<!-- <app-test-hooks></app-test-hooks> -->

<!-- <json-pipe></json-pipe> -->

<!-- <app-timer-parent></app-timer-parent> -->
<!-- <app-bootstrap-form-demo></app-bootstrap-form-demo> -->
<!-- <app-temp-form></app-temp-form> -->
<!-- <app-reactive></app-reactive> -->
<!-- <app-service-demo></app-service-demo> -->
<!-- <app-test-observable></app-test-observable> -->
<app-service-demo></app-service-demo>
<!-- <app-test-fake-api></app-test-fake-api> -->